 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(64, 34, 172, 0.733), rgba(228, 227, 227, 0.918)), url(/asset1/gambar4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.container {
    width: 400px;
    min-height: 400px;
    background: rgba(140, 83, 214, 0.548);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(243, 243, 243, 0.3);
    padding: 40px 30px;
}
 
.container .login-text {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}
 
.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
 
.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
 
.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #000000;
    
}
 
.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #000000;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
 
.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #000000;
}
 
.login-register-text {
    color: rgb(252, 252, 252);
    font-weight: 600;
}
 
.login-register-text a {
    text-decoration: none;
    color: #c8ff00;
}
 
.container-logout {
    width: 500px;
    min-height: 200px;
    margin-bottom: 34px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(238, 236, 236, 0.3);
    padding: 40px 30px;
}
 
.container-logout .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #000000;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
 
.container-logout .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #2103ff;
}
 
@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}