* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior:auto;
  
}
body {
  margin: 0px;
  padding: 0px;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}
nav {
  z-index: 100;
  color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #ffffff;
  line-height: 0px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff;
}
nav .logo {
  float: left;
  position: relative;
  line-height: 5px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 100px;
}

nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}

.desc1 {
  font-size: 20px;
 
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}

nav ul li {
  color: rgb(255, 255, 255);
  font-size: medium;
  font-display: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}


header {
  position: relative;
  height: 100ph;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
   z-index: -2;
}

@media only screen and (max-width: 100%) {
header video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: fill;
    z-index: -2;
  }
}

header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  top: 50px;
  left: 50px;
}

header .intro h3 {
  font-size: 50px;
  margin: 0;
  border-radius: 20px;
  line-height: 650px;
  padding-bottom: 10;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 50%;
  z-index: -1;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}
section {
  padding: 50px 0px 50px 0px;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: flex;
  margin: 20px auto;
}

#calender,
#sekilas,
#pengenalan,
#team,
#blog {
  text-align: center;
}
#beranda {
  text-align: center;
}
section p.ringkasan {
  font-style: bold;
  font-size: 18px;
  color: #f0f0f0;
}
section .konten-isi p {
  font-style: normal;
}
nav.putih {
  background-color: #91b3bc
}
nav.putih .tombol-menu .garis {
  background-color: rgb(255, 255, 255)
}
nav.putih ul li a {
  color: rgb(252, 252, 252)
}
nav .logo img.hitam {
  display: none;
}
section.abuabu {
  background-color: #bb1db3;
}
section#wisata {
  background-color: #809ca5
}
section.cls{
  background-color: #000000;
}
section#manfaat {
  background-color: #acbbc5;
}
section#team {
  background-color: #afbad6;
}
section#pengenalan {
  background-color: #475c6c;
}

section#sekilas {
  background-color: #8f2020;
}

.manfaat,
.tim, 
.blog {
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.manfaat h6,
.tim h6 {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  font-size: 18px;
  font-weight: bold;
}
.manfaat img {
  width: 50px;
  margin-left: 10px;
}
.manfaat div,
.tim div {
  text-align: center;
  width: 20%;
  margin-left: 0px;
  color:rgb(0, 0, 0);
}

section#wisata ul {
  display: flex;
  flex-direction: row;
  color:rgb(0, 0, 0);
  padding: 10px;
  overflow-x: scroll;
  height: 300px;
  text-align: center;
  width: auto;
}

section#wisata div ul li {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  height: 20px;
  color:#000000;
}
section#wisata div img {
  height: 200px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  align-content: center;
}
section#wisata div img:hover {
  transition: all 0.7s ease-in-out;
  transform: scale(1.1);
}


section.quote {
  background: url("asset/background-sunset.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.tim img {
  width: 100%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
}
.blog .area {
  width: 107%;
  box-shadow: 0px -10px 30px rgb(105, 89, 89);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog div.area div {
  width: 50%;
  height: 20%;
}
.blog .area .gambar {
  border-radius: 5px 0px 0px 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.blog .area .text article {
  padding: 40px;
}
.blog .area .text article h4 {
  height: 80px;
  margin: 0px;
}
.blog .area .text article a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.5s ease;
}
.blog .area .text article a:hover {
  color: rgb(0, 0, 0);
}
footer {
  padding: 20px;
  background-color: #343a40;
  color: rgb(0, 0, 0);
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
  margin-left: 200px;
}
footer .layar-dalam div {
  width: 20%;
}
footer .layar-dalam h5 {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 22px;
  
  font-weight: bold;
  text-align: justify;
}

@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: flex;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid rgb(255, 247, 247);
    background-color: rgb(255, 248, 248);
    line-height: 40px;
  }
  nav .menu ul li a {
    color: rgb(7, 7, 7);
  }
  .tombol-menu {
    display: flex;
  }
  .blog .area {
    display: block;

  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0px 0px;
    height: 200px;
  }
  .manfaat {
    display: block;
  }
  .manfaat div {
    width: 100%;
    padding-bottom: 30px;
  }
}

.book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.heading-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.inputBox {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  height: auto;
}

section.pesan {
  background-color: #30a0b4;
  padding: 100px 0px 100px 0px;
}

span {
  font-family:'Arial', Helvetica, sans-serif;
  font-weight: bold;
  height: 25px;
  font-size: medium;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
}

.send {
  width: 100px;
}

.heading-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

section#calender {
  background-color: #50cac0;
  margin-bottom: auto;
  padding: 100px 0px 100px 0px;
  text-transform: capitalize;
  position: relative;
}

.btn {
  background-color: #070808;
  color: #fff;
  box-shadow: #343a40;
  border-radius: 20px;
  padding: 25px;
  margin-top: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

h4{
  width: 10;
  padding: 10px;  
  font-size: 20px;
  color: #000000;
}

div button{
  background: -webkit-linear-gradient(right, #7a8077, #fdfffe);
  width: 10%;
  padding: 20;
  border-radius: 30px;
  height: 30px;
  font-size: 12px;
  color: #030303;
}

div button:hover {
  box-shadow: 0px 1px 18px #cbdacf;
}

.cari {
  background: -webkit-linear-gradient(right, #7a8077, #ffffff);
  width: 200px;
  height: 10px;
  padding: 10;
  margin-left: 40px;
  border-radius: 60px;
  height: 10px;
  font-size: 12px;
  color: #030303;
}

a {
  text-decoration: none;
  color: lightgreen;
}

section div #calender {
  background-color: #1618b8;
  margin-bottom: auto;
  padding: 100px 0px 100px 0px;
  text-transform: capitalize;
  position: relative;
}

div li {
  font-size: 12px;
  color-interpolation-filters: linearRGB;
  color-scheme: light;
  color:rgba(30, 233, 107, 0.6)(yellow)(red)(green);
}
